language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"

matrix:
  fast_finish: true
  allow_failures:
    - python: "nightly"

install:
    - pip install vim-vint pylama

script:
    - vint .
    - pylama
    - pytest
